{% include 'base.html' %} 

{% load static %}
<link rel="stylesheet" href="{%static 'css/login.css'%}">

<div class="login-box">
    <div class="login-box-title">
        <h2>로그인</h2>
    </div>
    <div class="login-box-content">
        <div class="form-box">
            <form method="post" name="login" action={% url 'user_login' %} >
                {% csrf_token %}
                <h3>이메일</h3>
                <input class="input" name="email" type="email" required/>
                <h3>비밀번호</h3>
                <input class="input" name="password" type="password" required/>
                <button class="btn normal-btn login-btn" value="" onclick="send()" />
            </form>
            <script>
                send = () => {
                    document.getElementById("login").submit();
                }
            </script>
        </div>
    </div>
</div>