{% include 'base.html' %} 

{% load static %}
<link rel="stylesheet" href="{%static 'css/login.css'%}">

<div class="login-box">
    <div class="login-box-title">
        <h2>로그인</h2>
    </div>
    <div class="login-box-content">
        <div class="form-box">
            <form method="POST">
                <h3>이메일</h3>
                <input class="input" id="email" type="email" required/>
                <h3>비밀번호</h3>
                <input class="input" id="pw" type="password" required/>
                <input type="submit" class="btn normal-btn login-btn" value="" ></input>
            </form>
        </div>
    </div>
</div>